.texto{
  color: rgb(112, 112, 235);
  font-family: monospace;
  font-size: 19px;
  width: 263px;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.caixa{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.caixa a{
  text-decoration: none;
  color: black;
  background-color: rgba(255, 54, 54, 0.349);
  padding: 0 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

.caixa a:hover{
  background-color: rgba(255, 54, 54, 0.699);
}